/* ----------------------------------------------------------------------------
 * Call to action buttons
 * ------------------------------------------------------------------------- */
.cta-row {

  display: flex;
  flex-wrap: wrap;

  @media (max-width: 544px) {

    flex-direction: column;
    padding: 0 20px;
  }

  @media (min-width: 320px) {
    margin-top: -3rem;
  }

}

/*CTA*/
.cta-item {

  background-color: $brand-primary;
  color: $w;

  .fa {
    font-size: 2em;
  }

  span {

    @media (min-width: 1024px) {
      float: right;
    }
  }

  h2 {
    padding: 15px 0;
    color: $w;
  }

  p {
    color: #cfebff;
  }

  a {
    color: $w !important;
  }

  .btn {
    margin-top: 1rem;
  }

  @media (max-width: 992px) {
    text-align: center;
  }
}

/*cta-item 2*/
.cta-item:nth-child(2) {

  background-color: #1177c0;
}

/*cta-item 3*/
.cta-item:nth-child(3) {

  background-color: #0f6eb3;
}

/*the copy inside the cta-item*/
.cta-copy {

  padding: 30px 20px 30px 20px;

  @media (max-width: 414px) {
    padding: 60px 30px 80px 30px;
  }
}

/* ----------------------------------------------------------------------------
 * Welcome Message
 * ------------------------------------------------------------------------- */

.welcome {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f1f1f1;

  h2 {
    font-weight: $bold;
  }

  span {
    color: $brand-primary;
  }

  p {
    color: $off-blue;
  }

  li {
    color: $brand-primary;
    font-weight: $bold;
  }

}

.welcome-intro {

  @media (min-width: 992px) {

    padding-right: 4rem;
  }

  @media (max-width: 992px) {

    padding-top: 3rem;
    padding-bottom: 3rem;

  }
}

.welcome-image-container {
  padding: 0px;
}

.welcome-image {

  height: 500px;
  background-position: center center;
}

/* ----------------------------------------------------------------------------
 * Testimonials / FAQS
 * ------------------------------------------------------------------------- */
.faq-testimonial {
  display: flex;
  flex-wrap: wrap;
  background-color: $brand-primary;

  h2 {
    color: $w;
    padding-bottom: 15px;
  }

  h1, p, h3 {
    color: $w;
  }

}

// faq section
.faqs {
  padding: 100px 20px 200px 20px;

  a {
    color: $w;
    &:hover,
    &:active,
    &:focus {
      color: $w;
    }
  }

  @media (max-width: 767px) {
    padding: 100px 20px 100px 20px;
  }
}

.faq-item {
  margin: 1rem 0;

  h3 {
    padding-bottom: 20px;
  }
}

//testimonials
.testimonials {

  padding: 100px 60px 200px 60px;

  p {
    font-style: italic;
  }

  @media (max-width: 767px) {
    padding: 100px 20px 100px 20px;
  }

  h3 {
    color: $brand-primary;
  }
}

//slider
#carousel-testimonials {

  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
  }
}

.carousel-control.left,
.carousel-control.right {
  background: none;
}

/*Rearrangement of arrow icons*/
a.right {
  color: $w;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $brand-primary;
  }
}

a.left {
  @extend .right;

  padding-right: 7px;
}

.icon-next,
.icon-prev {
  font-size: 24px;
}

.icon-prev::before {
  content: "\2039";
}

.icon-next::before {
  content: "\203a";
}

/* ----------------------------------------------------------------------------
 * Staff
 * ------------------------------------------------------------------------- */
.staff.row {
  justify-content: space-around;
}

//individual member
.staff-member {
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;

  img {
    width: 100%;
  }

  .staff-copy {
    background-color: $lightgrey;
  }

  .description {
    padding: 0 20px 0px 20px;
  }

  .position {
    font-weight: bold;
    color: $brand-primary;
  }
}

.staff-intro {

  margin-top: 4rem;

  h2 {

    span {
      color: $brand-primary;
    }
  }
}

.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev {
  display: none;
}

/* ----------------------------------------------------------------------------
 * Departments
 * ------------------------------------------------------------------------- */
.departments {
  padding-top: 70px;
  padding-bottom: 50px;

  .title-container {
    margin-bottom: 2rem;

    p {
      @media (min-width: 576px) {
        max-width: 400px;
        margin: auto;
      }
    }
  }

  //single item
  .department-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(223, 229, 232);
    margin-bottom: 2rem;

    h4 {
      padding-top: 20px;
      padding-bottom: 8px;
    }

    p {
      padding: 0 20px;
    }

    //hover effect
    &:hover {
      background-color: $brand-primary;
      p, h4 {
        color: $w;
      }
    }

    a:hover {
      text-decoration: none;
    }

    @media (min-width: 769px) {
      height: 220px;
    }
  }

  span {
    color: $brand-primary;
  }

}