/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
$brand-primary: #43b9f6 ;
$brand-second: #08232e;
$b: #000000;
$w: #ffffff;
$dark: #343434;

$lightgrey: #F9F9F9;
$midgrey: #535f67;
$darkgrey: #666666;

$titles-color: #3c3950;
$off-blue: rgb(76, 88, 103);

/* ----------------------------------------------------------------------------
 * Fonts
 * ------------------------------------------------------------------------- */
$thin: 100;
$regular: 400;
$bold: 700;
$bolder: 900;
